/* DARK BLUE - #4f81bd*/
/* GREEN HEADER LABEL - #4f6228*/


/* HEADER START */

#page{
    -fx-background-color: white;
    -fx-padding: 10px;
}

#page #header{
    -fx-border-color: #4a7ebb;
    -fx-border-width: 0 0 2px 0;
}

#menuButton {
    -fx-background-color: transparent;
    -fx-text-fill: #4f81bd;
    -fx-font-weight: bold;
    -fx-font-size: 2em;
}

#menuButton .label {
    -fx-text-fill: #4f81bd;
}

#menuButton > .arrow-button > .arrow{
    -fx-background-color: #4f81bd;
}

#menuButton .menu-item:hover, #menuButton .menu-item:focused{
    -fx-background-color: #4f81bd;
}

#menuButton .menu-item:hover .label, #menuButton .menu-item:focused .label{
    -fx-text-fill: white;
}

#menuButton .menu-item .label {
    -fx-text-fill: #4f81bd ;
    -fx-font-size: 0.5em;
}

#headerTitleWrapper Label{
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-text-fill: #4f81bd;
}

#labelGPS, #labelECM{
    -fx-padding: 5px 15px;
    -fx-background-color: #4f6228;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* HEADER END */



#contentPageWrapper{
    -fx-padding: 5px 10px 5px 10px;
}



/*Login Page Start*/

#labelUsername, #labelPassword, #textFieldUsername, #passwordFieldPassword{
    -fx-font-size: 1.5em;
}

#textFieldUsername, #passwordFieldPassword{
    -fx-background-color: #4f81bd;
    -fx-border-color: #4f81bd;
    -fx-text-fill: white;
}

#labelUsername, #labelPassword{
    -fx-text-fill: #4f81bd;
}

#buttonLogin{
    -fx-background-color: #4f81bd;
    -fx-font-size: 1.5em;
    -fx-text-fill: white;
}

#buttonLogin:hover, #buttonHoS:hover, #buttonDVIR:hover{
    -fx-background-color: #3c608d;
}

#buttonLogin:armed, #buttonHoS:hover, #buttonDVIR:hover{
    -fx-background-color: #21354e;
}

/*Login Page End*/

/*Hos Page Start*/

#buttonHoS, #buttonDVIR{
    -fx-padding: 20px;
    -fx-background-color: #4f81bd;
    -fx-font-size: 2em;
    -fx-text-fill: white;
    -fx-pref-width: 120px;
}


#hosHeader{
    -fx-padding: 5px 20px 5px 20px;
}

#hosHeader Label, #hosHeader Button{
    -fx-font-size: 1.3em;
    -fx-pref-height: 35px;
}

#buttonCurrentStatusValue{
    -fx-text-fill: white;
}

#labelNotificationMessage {
    -fx-text-fill: #314b70;
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
}

.seperator{
    -fx-background-color: #4f81bd;
    -fx-background-radius: 2;
}

/*Hos Page End*/


#changeStatusPage{
    -fx-background-color: white;
    -fx-padding: 100px 50px 100px 50px;
}


/* Dashboard tab start */

#dashboardTab Label{
    -fx-font-size: 1.3em;
    -fx-pref-height: 35px;
}


.default-color0.chart-pie { -fx-pie-color: #4e98d8; }
.default-color1.chart-pie { -fx-pie-color: #c3c3c3; }

/* Dashboard tab end */



/* Today tab Start */

#buttonNextDay, #buttonPreviousDay {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: #4f81bd;
    -fx-font-weight: bolder;
    -fx-font-size: 2em;

}

.tabButton{
    -fx-background-color: #4f81bd;
    -fx-text-fill: white;
    -fx-font-size: 1.4em;
    -fx-pref-width: 120px;
    -fx-border-color: #4f81bd;
}

/* Today tab End */

#loadFuelTab{
    -fx-padding: 20px;
}

#loadFuelTab Label{
    -fx-font-size: 1.5em;
}